@use '../util/' as u;

.footer{
    background: var( --colorAzulBase);
    font-family: 'Josefin Sans', sans-serif;
    padding: 1rem;
    box-sizing: border-box;

    &__info{
        font-size: 1rem;
        line-height: normal;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        height: 6rem;
        margin: 0;
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;
        gap: 1rem 2rem 1rem 2rem;
        text-align: center;


        @include u.breakpoint-down("small"){
            font-size: .7rem
        }
    
    }//end info
    & li{
        color: #9498d8;
        padding-inline: 1rem;
    }
}//end footer