.footer{
    background: #273564;
    font-family: 'Josefin Sans', sans-serif;

    &__info{
        font-size: 1rem;
        list-style: none;
        display: flex;
        height: 6rem;
        margin: 0;
        justify-content: space-around;
        align-items: center;
    
    }//end info
    & li{
        color: #9498d8;
    }
}//end footer