.slider{
  margin-inline: auto;
  overflow: hidden;
  z-index: 1;
  color: inherit;

  &__container{
    display: flex;
    transition: transform 1s;
    margin: 0;
    color: inherit;

    &__slide{
      color: inherit;
      height: 100%;
      margin: 0;
      box-sizing: border-box;
      position: relative;
    }//end slide

  }//end container

  &__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: inherit;
    color: inherit;
    height: 2rem;
    background-color: #0002;
    margin: .5rem;
    border-radius: 1rem;
    padding-inline: 1rem;
    
    &__btn{
      font-weight: bold;
      background-color: transparent;
      font-size: 2rem;
      text-shadow: 0 0 6px #0003;
      line-height: normal;
      transition: transform .3s;

      &:disabled:hover{
        color: #0007;
      }
      &:hover{
        transform: scale(1.1);
      }
    }
  }//end nav
}