.RouteProtected__logo {
  fill: #00000020;
  width: 200px;
  height: 200px;
  animation: loading 0.8s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.RouteProtected__container_logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.RouteProtected__message_container{
  position: absolute;
  width: 100%;
}
.RouteProtected__message {
  text-align: center;
  font-weight: 600;
  color: #0006;
  font-size: larger;
}
.RouteProtected__load_point_1, 
.RouteProtected__load_point_2,
.RouteProtected__load_point_3 {
  color: transparent;
  animation-duration: .3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.RouteProtected__load_point_1 {
  animation-name: point_1;
  animation-delay: .2s;
}
.RouteProtected__load_point_2 {
  animation-name: point_2;
  animation-delay: .4s;
}
.RouteProtected__load_point_3 {
  animation-name: point_3;
  animation-delay: .6s;
}

@keyframes loading {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
    opacity: 0.5;
  }
}
@keyframes point_1 {
  from {
  color: #0006;
}
to {
    color: transparent;
  }
}
@keyframes point_2 {
  from {
  color: #0006;
}
to {
    color: transparent;
  }
}
@keyframes point_3 {
  from {
  color: #0006;
}
to {
    color: transparent;
  }
}
